examples
examples_2
examples_3
examples_4
docker_part2/2_4/scaling-exercise
docker_part2/2_7/ml-kurkkumopo-frontend
docker_part2/2_7/ml-kurkkumopo-backend
docker_part2/2_7/ml-kurkkumopo-training
docker_part2/2_7/imgs
docker_part2/2_7/model